/* Скидання маргінів та падінь для всіх елементів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'PT Sans Narrow', sans-serif;
    src: url('Fonts/PTSansNarrow-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}


/* Стилі для тегу header */
header {
    width: 100%;
    height: 150px; 
    background-color: lightgray;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-header{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.logo img {
    width: 80px;
    height: 80px;
    display: block;
    margin-right: 10px;
}

.phone-numbers {
    display: flex;
    height: 100px;
    width: auto; 
    margin-left: -190px; 
    padding: 10px; 
}
.phone-numbers ul {
    list-style: none;
    font-size: 25px;
    width: 230px;
}
.phone-numbers li{
    margin-bottom: 30px; 
}
.phone-numbers a {
    text-decoration: none;
    color: gray;
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.company-info{
    height: 80px;
    margin-right: 500px;
}
.company-info p  {
    margin-top: 5px;
    width: 140px;
    color: gray;
}
.company-info h1{
    color: gray;
    line-height: 0.75;
    margin-top: 10px;
    font-size: 25px;
}
.menu {
    text-align: center;
    padding: 10px 0;
    background-color: gray;
    color: #fff;
}
.menu-item {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
    font-size: 20px;
}
.menu-item:hover {
    text-decoration: underline; 
}
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    position: fixed;
    
}
.slider-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item img {
    max-width: 100%;
    height: 200px;
    width: 1000px;
}
.content {
    width: 100%;
    height: 450px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px 0px 0px 85px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.news,
.about-company {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-basis: 25%;
    margin-left: 20px;
}
.about-company p{
    margin-top: 10px;
    font-size: 12px;
}
.about-company h2{
font-size: 25px;
font-family: 'PT Sans Narrow', sans-serif;
}
.news {
    margin-right: 30px; 
    background-color: gray;
    padding: 5px 40px 0px 30px;
    font-size: 12px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    
}
.news-info {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px 10px 0px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}
.news-item {
    margin-bottom: 20px;
}

.news-date {
    font-style: italic;
    color: white;
    margin: 0;
}

.news-text {
    margin: 5px 0;
    color: white;
}

.archive-link {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 40px;
}

.archive-link a {
    text-decoration: underline;
    color: white;
}
.news h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
footer {
    text-align: center;
    background-color:gray;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
}
.container-footer {
    width: 1000px; 
    height: 100px;
    margin: 0 auto;
    padding: 0px 100px;
    display: flex;
    align-items: center;
}
.footer-info,
.footer-menu,
.footer-logo,
.prod {
    flex-shrink: 0;
}
.footer-info{
    text-align: left;
    order: 1;
}
.footer-menu{
    text-align: left;
    margin-left: 200px;
    order: 2;
}
.footer-menu li {
    list-style-type: none;
}
.footer-menu ul {
    color: white;
}
.footer-menu a {
    text-decoration: none;
    color: white; 
}
.footer-menu a:hover {
    text-decoration: underline;
}
.footer-logo{
    margin-left: 110px;
    order: 3;
}
.footer-logo img{
    width: 32px;
    height: 38px;
    margin-left: -50;
}
.prod{
    text-align: left;
    margin-right: 70px;
    margin-left: 10px;
    order: 4;
}